@import "../../variables";

.button {
  background-size: 100% 210%;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(0deg,
          rgba(0,0,0,0.5) 0%,
          rgba(0,0,0,0.5) 50%,
          $primary-text 50%,
          $primary-text 100%);
  background-position-y: 100%;
  display: inline-block;
  padding: 0.25em 0.7em;
  margin: 0.5em;
  color: $primary-text;
  border: none;
  font-size: 1rem;
  transition: ease-in-out background-position 0.2s;
  cursor: pointer;
  text-decoration: none;
  line-height: 2em;
  font-weight: 400;
}

.button:focus {
  border: solid 2px $highlight-text;
  margin: calc(0.5em - 2px);
  color: $highlight-text;
}

.button:hover {
  background-position-y: 0;
  color: $primary;
}

.lg {
  @extend .button;
  font-size: 1.25rem;
}

.sm {
  @extend .button;
  font-size: 0.8rem;
}