.blurTextIn {
  animation: fadeIn ease 1s;
  transform-origin: 50% 0 0;
}

@keyframes fadeIn {
  0% {
    transform: perspective(250px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(250px) rotateX(-20deg);
  }
  80% {
    transform: perspective(250px) rotateX(10deg);
  }
}