@import '../../variables';

.cursor {
  display: inline-block;
  width: 0.1em;
  height: 1em;
  background: $highlight-text;
  animation: blink 1s infinite;
  alignment: bottom;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}